# SPDX-License-Identifier: BSD-3-Clause
# (c) Copyright 2022-2024 Advanced Micro Devices, Inc.

# Merge strategies to avoid false positives merging between branches

src/include/sfptpd_version.h merge=ours

# It would be nice to exclude these from a notional 'pure' application
# source archive but there's no real benefit and it annoys the Debian
# git-buildpackage method, so don't.
#
#.git* export-ignore
#ci export-ignore

# Substitutions - but we don't need this with git checkout or github action.
#
#scripts/vcs-vars export-subst
