# SPDX-License-Identifier: BSD-3-Clause
# (c) Copyright 2019-2023 Xilinx, Inc.

[Unit]
Description=Solarflare Enhanced PTP Daemon
Documentation=man:sfptpd(8)
Documentation=https://docs.xilinx.com/r/en-US/ug1602-ptp-user
After=network-online.target

# systemd-timesyncd is incompatible with sfptpd because it offers no
# integration interface.
After=systemd-timesyncd.service
Conflicts=systemd-timesyncd.service

[Service]
Type=notify
Restart=on-failure
RestartSec=5s

# Source configuration shared with other init systems
EnvironmentFile=-/etc/sysconfig/sfptpd

# Override any 'daemon' setting in configuration file as it is systemd's
# responsibility to fork the daemon.
ExecStart=/usr/sbin/sfptpd --no-daemon $OPTIONS $SFPTPD_USER

# Optionally set which CPU(s) to run sfptpd on e.g. limit CPU selection to
# cores 3 and 4:
# CPUAffinity=3,4

[Install]
WantedBy=multi-user.target
