Source: sfptpd
Section: net
Priority: optional
Maintainer: AMD NIC Support <support-nic@amd.com>
Build-Depends: debhelper-compat (= 12), libmnl-dev, libcap-dev, dh-python, python3
Standards-Version: 4.6.0
Homepage: https://github.com/Xilinx-CNS/sfptpd
Rules-Requires-Root: no

Package: sfptpd
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: System time sync daemon supporting PTP, NTP and 1PPS
 Use multiple PTP an PPS sources and sync local clocks together in one
 integrated application with high quality timestamp filtering supporting
 active-backup and active-active bonds, VLANs, ntpsec/chrony integration, live
 stats and long term monitoring. Implements IEEE Std 1588-2019 over UDP with
 the default and enterprise profiles.

Package: sfptpd-python3
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Scripts for sfptpd time sync daemon
 This package provides Python scripts to support the sfptpd daemon.
