#!/usr/bin/make -f
# SPDX-License-Identifier: BSD-3-Clause
# (c) Copyright 2024 Advanced Micro Devices, Inc.

#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# Rely on dh_installinit to install the init script rather than installing via Makefile

%:
	prefix=/usr INST_INITS="systemd" INST_OMIT="c-examples" dh $@ --with python3,sysuser

override_dh_auto_test:
	make fast_test
