#!/usr/bin/make -f
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	prefix=/usr INST_INITS="systemd sysv" INST_OMIT="c-examples init-examples" dh $@

override_dh_auto_test:
	make fast_test
