#!/usr/bin/make -f
# SPDX-License-Identifier: BSD-3-Clause
# (c) Copyright 2024,2025 Advanced Micro Devices, Inc.

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	prefix=/usr INST_INITS="systemd" INST_OMIT="c-examples changelog" dh $@ --with python3,sysuser,runit

override_dh_auto_test:
	make fast_test

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md

# Avoid compressing example configurations so they can be used easily.
override_dh_compress:
	dh_compress -X.cfg
