#
# Example configuration for sfptpd operating as a PTP slave with chronyd
# fallback. In this example the 'priority' is used to ensure that fallback
# only occurs when PTP instances fail, because restarting chronyd to
# change clock control will perturb NTP performance which makes it
# unsuitable to fall back to based on quality characteristics alone.
#
# SPDX-License-Identifier: BSD-3-Clause
# (c) Copyright 2012-2024 Advanced Micro Devices, Inc.
#

#
# Generic Configuration
#
[general]

# Create a PTP Synchronization Module instance.
sync_module ptp ptp1
sync_module crny crny1

# Specify whether messages are sent to the syslog, stderr or to a file. By default
# messages are sent to stderr.
# message_log /local/sfptpd_msgs.txt
message_log stderr

# Specify whether stats logging is enabled and whether stats are sent to stdout
# or to a file
# stats_log /local/sfptpd_stats.txt
stats_log stdout

# Specifies whether to attempt using hardware timestamps on non-Solarflare
# hardware. Its driver must support raw hardware timestamps and expose a PHC
# device adjustable via clock_adjtime (adjtimex).
non_solarflare_nics off

# Avoid switching on transient changes because restarting chronyd is
# disruptive
selection_holdoff_interval 60

# Chrony Configuration
[crny1]

# Enable clock control with chrony. Currently a helper script is required to
# restart chronyd to work around its lack of a runtime control mechanism.
clock_control on

# A user-customisable script to control restart of chronyd when necessary.
# The default location is that to which the reference script is installed.
#control_script /usr/libexec/sfptpd/chrony_clockcontrol.py

# Assign a low priority (higher number) to avoid falling back based on
# quantitative performance alone.
priority 20

#
# PTP Configuration
#
[ptp1]

# Specify PTP Slave mode
ptp_mode slave

#
# Generic PTP Configuration
#
[ptp]

# Specify the interface to use.
# interface eth1

# Use to modify the PTP domain in the range 0..255. Default is 0.
# ptp_domain 0

# Assign a high priority (low number) so PTP only falls back when qualitatively
# faulty
priority 10

# fin
